/* ----------------------------------------------------------------------
	Footer 3
---------------------------------------------------------------------- */
/* Footer Top */
#footer-top {
	color: #ffffff;
	background: #2d3640;
}
@media (min-width: 768px) {
#footer-top:before {
	background: #36414d;
}
#footer-top:after {
	border-top: 36px solid #ffffff;
	border-right: 18px solid transparent;
	border-bottom: 36px solid #36414d;
	border-left: 18px solid #36414d;
	-webkit-box-shadow: -1px 0px 0px #36414d;
	box-shadow: -1px 0px 0px #36414d;
}
}
#footer-top a, #footer-top a:hover { color: #ffffff; }
.footer-top-left {
	color: #bbbbbb;
}
.footer-top-right {
	color: #555555;
}
/* Footer */
#footer {
	color: #bbbbbb;
	background: #36414d;
}
#footer h4 { color: #dddddd; }
.footer-list li a { color: #ffffff; }
.footer-list li a:hover { color: #ffffff; }
.footer-list li i {
	color: #dddddd;
}
.footer-list li span {
	color: #dddddd;
}
/* Copyright */
#copyright {
	color: #bbbbbb;
	background: #2d3640;
	-webkit-box-shadow: 0px -1px 0px #2d3640;
	box-shadow: 0px -1px 0px #2d3640;
}
.copyright {
	color: #bbbbbb;
}
.copyright-link li + li:before {
	color: #bbbbbb;
}
.copyright-link li a { color: #ffffff; }
.copyright-link li a:hover { color: #ffffff; }
/* footer social */
#footer .social-icons > li a i {
	border: 1px solid #ffffff;
	color: #ffffff;
	background: transparent;
}
