.navbar-brand { padding: 22px 10px; }
@media (min-width: 768px) {
.navbar-nav { margin: 0px 0px; }
.navbar-nav > li > a { padding: 31px 10px; }
}
.dropdown-menu { top: 84px; }
.navbar-toggle {
	margin-top: 25px;
	margin-bottom: 25px;
}
 @media (min-width: 768px) {
.sticky-header .navbar-brand { padding: 12px 10px; }
.sticky-header .navbar-brand img { height: 40px; }
.sticky-header .navbar-nav { margin: 0px 0px; }
.sticky-header .navbar-nav > li > a { padding: 21px 10px; }
.sticky-header .dropdown-menu { top: 64px; }
}
@media (min-width: 768px) and (max-width: 991px) {
.navbar-nav > li > a { padding: 31px 5px; }
.sticky-header .navbar-nav > li > a { padding: 21px 5px; }
}




/* Header Background 40 */
@media (min-width: 768px) {
.navbar-default:before {
	height: 94px;
}
.navbar-default:after {
	border-top: 47px solid #2d3640;
	border-right: 17.8px solid transparent;
	border-bottom: 47px solid transparent;
	border-left: 17.8px solid #2d3640;
}
.sticky-header .navbar-default:before {
	height: 76px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sticky-header .navbar-default:after {
	border-top: 38px solid #2d3640;
	border-right: 14.4px solid transparent;
	border-bottom: 38px solid transparent;
	border-left: 14.4px solid #2d3640;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
}


