/* ----------------------------------------------------------------------
	Topbar 3
---------------------------------------------------------------------- */
/* Topbar */
#topbar {
	color: #dddddd;
	background: #36414d;
	-webkit-box-shadow: 0px 1px 0px #36414d;
	box-shadow: 0px 1px 0px #36414d;
}
.topbar-contact > li a { color: #475766; }
.language > a {
	color: #dddddd !important;
}
/* topbar social */
#topbar .social-icons > li a i {
	border: 1px solid transparent;
	color: #dddddd;
	background: transparent;
}




/* Header Background 50 #36414d */
@media (max-width: 767px) {
#header { background: #36414d !important; }
}
@media (min-width: 768px) {
.navbar-default:before { 
	background: #36414d !important; 
}
.navbar-default:after {
	border-top: 52px solid #36414d;
	border-right: 20px solid transparent;
	border-bottom: 52px solid transparent;
	border-left: 20px solid #36414d;
	-webkit-box-shadow: -2px 0px 0px #36414d;
	box-shadow: -2px 0px 0px #36414d;
}
.navbar-default:after {
	border-top-color: #36414d !important;
	border-left-color: #36414d !important;
}
.sticky-header .navbar-default:after {
	border-top: 48px solid #36414d;
	border-right: 18px solid transparent;
	border-bottom: 48px solid transparent;
	border-left: 18px solid #36414d;
}
.sticky-header .navbar-default:after {
	border-top-color: #36414d !important;
	border-left-color: #36414d !important;
}
}



